[Unit]
Description=Facetracker camera publisher
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/etc/facetracker-pi/publisher
ExecStart=/etc/facetracker-pi/publisher/run.sh

[Install]
WantedBy=multi-user.target
